#god {
  font-size: 20;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 9%+1;
}

#btIcon {
  display: none;
  height: 22;
  width: 22;
  x: 12%;
  y: 4%+1;
}

#batteryLevel {
  font-size: 24;
  font-family: System-Regular;
  x: 75%;
  y: 10%;
}

#time {
  font-size: 110;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 45%;
}

#date {
  font-size: 35;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 62%;
}

#bpmIcon {
  height: 32;
  width: 32;
  x: 5%;
  y: 69%;
}

#bpm {
  font-size: 30;
  font-family: System-Regular;
  x: 18%;
  y: 76%+3;
}

#stepIcon {
  height: 32;
  width: 32;
  x: 5%;
  y: 82%;
}

#steps {
  font-size: 30;
  font-family: System-Regular;
  text-length: 6;
  text-buffer: 6;
  x: 18%;
  y: 89%+2;
}

#weatherLocation {
  font-size: 24;
  font-family: System-Regular;
  text-length: 12;
  x: 50%-5;
  y: 75%;
}

#weather {
  font-size: 25;
  font-family: System-Regular;
  text-length: 15;
  x: 50%-5;
  y: 85%;
}

#weatherTime {
  font-size: 15;
  font-family: System-Regular;
  text-length: 11;
  x: 75%;
  y: 92%;
}