#god {
  font-size: 20;
  font-family: System-Regular;
  text-length: 15;
  text-anchor: middle;
  x: 50%;
  y: 7%;
}

#btIcon {
  display: none;
  height: 24;
  width: 24;
  x: 2%;
  y: 1%;
}

#batteryLevel {
  font-size: 25;
  font-family: System-Regular;
  text-length: 3;
  x: 83%;
  y: 8%;
}

#divider1 {
  x1: 0;
  x2: 100%;
  y1: 10%;
  y2: 10%;
  fill: 'black';
  stroke-width: 2;
}

#time {
  font-size: 100;
  font-family: System-Bold;
  text-length: 5;
  text-anchor: middle;
  x: 50%;
  y: 45%;
}

#date {
  font-size: 35;
  font-family: System-Regular;
  text-length: 14;
  text-anchor: middle;
  x: 50%;
  y: 65%;
}

#divider2 {
  x1: 0;
  x2: 100%;
  y1: 70%;
  y2: 70%;
  fill: 'black';
  stroke-width: 2;
}

#bpmIcon {
  height: 32;
  width: 32;
  x: 2%;
  y: 73%;
}

#bpm {
  font-size: 30;
  font-family: System-Regular;
  text-length: 3;
  x: 16%;
  y: 80%+4;
}

#stepIcon {
  height: 32;
  width: 32;
  x: 2%;
  y: 86%;
}

#steps {
  font-size: 30;
  font-family: System-Regular;
  text-length: 6;
  x: 16%;
  y: 94%;
}

#divider3 {
  x1: 45%;
  x2: 45%;
  y1: 70%;
  y2: 100%;
  fill: 'black';
  stroke-width: 2;
}

#weatherLocation {
  font-size: 25;
  font-family: System-Regular;
  text-length: 12;
  x: 50%-5;
  y: 79%;
}

#weather {
  font-size: 25;
  font-family: System-Regular;
  text-length: 15;
  x: 50%-5;
  y: 89%;
}

#weatherTime {
  font-size: 15;
  font-family: System-Regular;
  text-length: 8;
  x: 80%;
  y: 98%;
}
